body {
	font-family:avenir,'lato',sans serif;
	color:#26262b;
	font-size:12pt;
	font-weight:400;
	background-color:#eaeaea;
}

h1 {
	font-family:avenir,'lato',sans serif;
	font-weight:900;
	font-size:40pt;
	text-align: center;
	width:90%;
	margin-left:auto;
	margin-right: auto;
	padding-bottom:3em;
}

h2 {
	color:#ff7f00;
	font-size:24pt;
	font-weight:900;
}

i{
	font-weight:100;
	font-style:italic;
}

hr {
	border-color:#7c8393;
	size:8px;
	border-width:8px;
	width:40%;
	margin-left:-5%;
}

li {
	list-style-type: none;
}

.words{
	letter-spacing:2px;
	text-transform: uppercase;
	font-size;24pt;
}

.implink{
	text-transform: uppercase;
	color:#7c8393;
	font-size: 14pt;
}

.search {
	color:#7c8393;
	font-weight:900;
}

.filler {
	padding: 2em;
	padding-bottom:5em;
}

.number {
	font-family:avenir,'lato',sans serif;
	font-weight:900;
	font-size:40pt;
	color:#ff7f00;
	margin-top:-40px;
	display:block;
}

.number-img {
	margin-bottom: -40%;
}

.qualifier {
	font-family:avenir,'lato',sans serif;
	font-weight:900;
	font-size:16pt;
	color:#7c8393;
}

.custom-progress {
		background: rgba(245, 245, 245, 1); 
		border: 0px solid;
		border-radius: 50px; 
		height: 50px;
	}

.progress-bar-custom {
	background: #ff7f00;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}

.sentiment-container {
	padding:0em;
	padding-bottom:15%;
}
.panel {
	margin-top: 2em;
}

.before-search {
	padding:2em;
	text-align: center;
}

.after-search {
	padding:4em;
	/*display:none;*/
}

.title {
	text-align:center;
}

.rounded {
	border-radius: 20px;
}

.words {
	display: inline-block;
}

.w-before {
	float:left;
	text-align: right;
	display: inline-block;
	font-weight:900;
}

.w-after {
	display: inline-block;
	float:right;
	text-align: left;
	font-weight:900;
}

.big {
	width:80% !important;
}

.extra {
	padding-bottom:4em;
}

.orange {
	color:#ff7f00;
}

.icon{
	margin-top:-1em;
}

.explanation {
	visibility: hidden;
}

input {
	height: 50px;
}

li {
	margin-left: -2em;
	list-style-type: none;
}

em {
	font-weight:100;
}