{% include 'layout.html' %}

{% block head %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link href='//fonts.googleapis.com/css?family=Lato:400,900,100italic' rel='stylesheet' type='text/css'>

{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row filler"><div class="col-md-12"></div></div>
	<div class="row">
		<div class="col-md-5"></div>
		<div class="col-md-2">
			<img src="{{ url_for('static', filename='img/logo.png') }}" class="img-responsive">
		</div>
		<div class="col-md-5"></div>
	</div>
	<div class="row fill2"><div class="col-md-12"></div></div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="before-search col-md-8">
		   <form role="form search">
			  <div class="form-group col-md-12 rounded">
		       <div class="input-group rounded">
			      <input type="text" id="searchTerm" class="form-control rounded" onkeydown="checkEnter()">
			      <span class="input-group-btn">
			        <button class="btn btn-default rounded" type="button" onclick="getResults()"><span class="glyphicon glyphicon-search"></span></button>
			      </span>
		      	</div>
			  </div>
		    </form>
		</div>
		</div>

 <div class="container big" id="senop-explanation">
 <div class="row filler"><div class="col-md-12"></div></div>
 <div class="row filler"><div class="col-md-12"></div></div>
 <div class="row filler"><div class="col-md-12"></div></div>
 <div class="row filler"><div class="col-md-12"></div></div>
 	<div class="row">
 	     <div class="explanation">
        <h2>We track your hashtag and find out what people really think about your event. We’re here to tell you the positives and the negatives, as well as provide you with statistics to help you track how your event is doing.</h2>
      </div>
 	</div>
 </div>

	<div class="after-search" id="search-result-container">
		<div class="container big">
			<div class="row ">
			<h1 >You Searched for: <span class="orange" id="search-term"></span> </h1>
			</div>
			<div class="sentiment-container">
				<div class="row">
					<div class="words w-before  col-md-2" id="neg">
					</div>
					<div class="col-xs-12 col-md-8">
						<div class="progress rounded custom-progress">
						    <div class="progress-bar rounded progress-bar-custom" id="mood" role="progressbar" aria-valuemin="0" aria-valuemax="100">
						        <span class="sr-only"></span>
						    </div>
						</div>
					</div>
					<div class="words w-after text-right col-xs-2 col-md-2" id="pos">
					</div>
				</div>
			</div>
		</div>
		<span class="col-md-2"></span>

<div class="col-md-8">
  	<div class="row">
 		<div class="col-md-4 icon extra animatedicon" id="tweeticon">
 			<img src="{{ url_for('static', filename='img/socialmedia.png') }}" class="img-responsive">
 		</div>
 		<div class="col-md-6 extra">
 			<hr>
 			<div id="most-recent-tweet"></div>
 		</div>
 	</div>

 	<div class="row filler"><div class="col-md-12"></div></div>

	<div class="row">
		<div class="col-md-2 icon extra animatedicon" id="positiveicon">
			<img class="img-responsive" src="{{ url_for('static', filename='img/positive.png') }}">
		</div>
		<div class="col-md-2 extra">
			<hr>
			POSITIVES 
		</div>
		<div class="col-md-2 icon extra animatedicon" id="neutralicon">
			<img class="img-responsive" src="{{ url_for('static', filename='img/neutral.png') }}">
		</div>
		<div class="col-md-2 extra">
			<hr>
			NEUTRALS
		</div>
		<div class="col-md-2 icon extra animatedicon" id="negativeicon">
			<img class="img-responsive" src="{{ url_for('static', filename='img/negative.png') }}">
		</div>
		<div class="col-md-2 extra">
			<hr>
			NEGATIVES
		</div>
	</div>
  <div class="row">
    <div class="col-md-4">
    <div id='positive-tweet'></div>
    </div>
    <div class="col-md-4">
    <div id="neutral-tweet"></div>
    </div>
    <div class="col-md-4">
    <div id="negative-tweet"></div>
    </div>
  </div>

	<div class="row filler"><div class="col-md-12"></div></div>

<div class="row filler"><div class="col-md-12"></div></div>

	<div class="row">
		<div class="col-md-2"></div>
 		<div class="col-md-3">
 			<img src="{{ url_for('static', filename='img/amountofdata.png') }}" class="number-img img-responsive animatedicon" id="postsicon">
      <span class="number" id="number-of-tweets">1234</span>
 			<span class="qualifier"># of Posts</span>
 		</div>
 		<div class="col-md-2"></div>
 		<div class="col-md-3">

 			<img src="{{ url_for('static', filename='img/people.png') }}" class="number-img img-responsive animatedicon " id="likesicon">
 			<span class="number" id="number-of-favorites">NUMBER</span>
 			
 			<span class="qualifier"># of Favorites</span>
 		</div>
 		<div class="col-md-2"></div>
 	</div>
 	<div class="row filler"><div class="col-md-12"></div></div>
	
</div>

<script>
	$(window).scroll(function(){
		var scrollpos = $(window).scrollTop()
		console.log(scrollpos)
		if (scrollpos > 500) {
			$("#tweeticon").addClass("animation");
		}
		else {
			$("#tweeticon").removeClass("animation");
		}

		if (scrollpos > 800) {
			$("#positiveicon, #neutralicon, #negativeicon").addClass("animation");
		}
		else {
			$("#positiveicon, #neutralicon, #negativeicon").removeClass("animation");
		}

		if (scrollpos > 1400) {
			$("#postsicon, #likesicon").addClass("animation");
		}
		else {
			$("#problemicon, #likesicon").removeClass("animation");
		}

	})
</script>
<div class="row filler"><div class="col-md-12"></div></div>
	
<div class="row filler">
	<div class="col-md-12 text-center"><h2>Related Terms and their Counts</h2></div>
</div>
  <div class="row filler">
	<div class= "chart col-md-12 text-center">
		
	</div>
	</div>
</div>
{% endblock %}
