{% include 'layout.html' %}

{% block head %}
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="before-search col-md-8">
		   <form role="form search">
			  <div class="form-group col-md-12 rounded">
		       <div class="input-group rounded">
			      <input type="text" id="searchTerm" class="form-control rounded">
			      <span class="input-group-btn">
			        <button class="btn btn-default rounded" type="button" onclick="getResults()"><span class="glyphicon glyphicon-search"></span></button>
			      </span>
		      	</div>
			  </div>
		    </form>
		</div>
		</div>
	<div class="after-search">
		<div class="container">
			<div class="row">
			<h1 >You Searched for : </h1>
			</div>
			<div class="sentiment-container">
				<div class="row">
					<div class="words w-before col-md-2">
						<span>Term <br></span>
						<span>Next Term</span>
					</div>
					<div class="col-md-8">
						<div class="progress rounded custom-progress">
						    <div class="progress-bar rounded progress-bar-custom" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						        <span class="sr-only">60% Complete</span>
						    </div>
						</div>
					</div>
					<div class="words w-after text-right col-md-2">
						<span>Term<br></span>
						<span>Next Term</span>
					</div>
				</div>
			</div>
		</div>
		<span class="col-md-2"></span>
<div class="col-md-8">
  	<div class="row">
  	<div class="col-md-1"></div>
  		<div class="col-md-5">
 			<div class="col-md-2"><img src="{{ url_for('static', filename='img/socialmedia.png') }}" class="img-responsive"></div>
 				<ul>
 					<li>Story 1 lorem ipsum dolor sit amet.</li>
 					<li>Story 2</li>
 				</ul>
 			</div>
 		<div class="col-md-5">
 			<div class="col-md-2"><img src="{{ url_for('static', filename='img/news.png') }}" class="img-responsive"></div>
 			<div class="col-md-3">NEWSFEED</div>
 		</div>
	</div>
	<div class="row">

		<div class="col-md-3">
			<div class="col-md-4"><img class="img-responsive" src="{{ url_for('static', filename='img/negative.png') }}"></div>
		</div>
	<div class="col-md-1"></div>	
	<div class="col-md-3">
			<div class="col-md-4"><img class="img-responsive" src="{{ url_for('static', filename='img/neutral.png') }}"></div>
		</div>
	<div class="col-md-1"></div>	
	<div class="col-md-3">
			<div class="col-md-4"><img class="img-responsive" src="{{ url_for('static', filename='img/positive.png') }}"></div>
		</div>		
	<div class="col-md-1"></div>
	</div>
	<div class="row filler"><div class="col-md-12"></div></div>
	<div class="row">
 		<div class="col-md-1"><img src="{{ url_for('static',filename='img/problems.png') }}" class="img-responsive"></div>
 		<div class="col-md-3">
      <hr>
      <h2>PROBLEM 1</h2>
      Solution <i>- Reason for suggestion</i>
    </div>
 		<div class="col-md-1"></div>
 		<div class="col-md-3">
      <hr>
      <h2>PROBLEM 2</h2>
      Solution <i>- Reason for suggestion</i>
    </div>
 		<div class="col-md-1"></div>
 		<div class="col-md-3">
      <hr>
      <h2>PROBLEM 3</h2>
      Solution <i>- Reason for suggestion</i>
    </div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
 		<div class="col-md-3">
 			<img src="{{ url_for('static', filename='img/amountofdata.png') }}" class="number-img img-responsive">
 			<span class="number">NUMBER</span>
 			<span class="qualifier">Qualifier</span>
 		</div>
 		<div class="col-md-1"></div>
 		<div class="col-md-3">
 			<img src="{{ url_for('static', filename='img/people.png') }}" class="number-img img-responsive">
 			<span class="number">NUMBER</span>
 			<span class="qualifier">Qualifier</span>
 		</div>
 		<div class="col-md-1"></div>
 		<div class="col-md-3"><img src="{{ url_for('static', filename='img/amountofdata.png') }}" class="number-img img-responsive">
 			<span class="number">NUMBER</span>
 			<span class="qualifier">Qualifier</span></div>
 	</div>
 	</div>
	</div>
</div>
{% endblock %}
