<!DOCTYPE html>
<html>
  <head>
    <title>Senop</title>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ JSGlue.include() }}
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}


    <link src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}">
  </body>
</html>
